@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    string Column = (string)ViewData["Column"];
    int NewId = (int)ViewData["NewId"];
}

<!DOCYPE HTML>
<html lang="en">
    <head>
        <script src="/lib//jquery/dist/jquery.min.js"></script>
        <link rel="stylesheet" href="~/css/NewsPage-index.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/fonts/font_pc91p14nhe/iconfont.css" />
        <link rel="stylesheet" href="~/fonts/font_lgwa9q5jwc/iconfont.css" />
        <link rel="stylesheet" href="~/fonts/font_prpz1fcjx9/iconfont.css" />
        <link rel="stylesheet" href="~/fonts/font_ltsq92hmxfi/iconfont.css" />
        <link rel="stylesheet" href="~/fonts/font_j0584itrtar/iconfont.css" />
        <link rel="stylesheet" href="~/fonts/font_r257i3dxhp/iconfont.css" />
    

    </head>
    <body>
      <div class="container">
        <div class="news_container">
          @foreach(var item in ViewBag.dyObject)
          {
            <div class="header">
                <div class="BreadNav">
                    <ul class="breadcrumb">
                        <li><a href="/Home">Home</a></li>
                            <li><a href="/Home/Channel/?column=@ViewData["Column"]">@Column</a></li>
                        @*<li class="active">十一月</li>*@
                    </ul>
                </div>
                <div class="Title">
                    @*国家宪法日丨各地开展形式多样宪法法律知识宣传活动*@
                    @item.NewTitle
                </div>
                <div class="Detail">
                    <div class="Time">@*2022-12-04 07:41:46*@@item.NewDate</div>
                </div>
            </div>
            <div class="text">
                @*<p class="one-p">
                    <strong>全国法制宣传日</strong>
                    新修订的
                    《中华人民共和国农产品质量安全法》
                    将于2023年1月1日起施行
                    新法提高了在农产品生产经营过程中使用国家禁止使用的农业投入品或者其他有毒有害物质，
                    销售农药、兽药等化学物质残留或者含有的重金属等有毒有害物质超标的农产品的罚款处罚额度，
                    构成犯罪的，依法追究刑事责任。今天咱们一起学习一下新法部分内容看看怎样的农产品才是合
                    法合规的安全产品
                </p>
                <p class="one-p">
                    <strong>
                        1农产品是什么？
                    </strong>
                        农产品，是指来源于种植业、林业、畜牧业和渔业等的初级产品，即在农业活动中获得的植物、动物、微生物及其产品。
                </p>
                <p class="one-p"><strong>“病毒溯源”已是老生常谈。</strong>2020年，美国前政府凭空捏造“中国病毒论”，最终唱了出乏人问津的独角戏。2021年，美国现政府又对中国搞“三个月情报溯源”，结果不但没搞出什么新花样，反而被中国点到美国德特里克堡、北卡大学实验室等“死穴”，最后也只能灰溜溜收场。</p>
                <p class="one-p">美国曾试图对中国“以接触促转变”，但近年来不得不承认难以从内部改变中国，然而对中国搞“颜色革命”的图谋从未停止。此轮疫情发生后，各地医院、殡葬机构里立马多了不少“洋面孔”，他们在四处搜罗中国涉疫“黑料”。《纽约时报》等不断放大负面个案，给民众的一些抱怨不满扣上“反政府”“反威权”帽子，唯恐中国不乱。</p>
                <p class="one-p"><strong>美国拥有世界上最先进的医疗技术、最完备的医疗体系，却“躺平”不作为，最终成为死亡人数最多国家，并大搞“医学种族主义”，通过栽赃中国来转移矛盾、甩锅推责。</strong></p>
                <p class="one-p">这些言论显然站不住脚。中国本轮疫情病毒全部来自境外，中国也是受害者。而美国则几乎集齐全套变异株，还任由病毒变异发展。<strong>如果有谁向世界输出变异株，那也只能是美国。</strong></p>
                <p class="one-p"></p>*@
                <p class="one-p" style="max-width:800px;overflow:hidden"><img src="~/@item.NewPicture"></p>
                <p class="one-p">@item.NewContent</p>
            </div>
           }
            <div class="comments">
                <div class="my_comments">
                    <div class="header">
                        <h2>网友评论</h2>
                            @if (ViewData["UserName"] == null)
                            {
                            <a asp-action="Index" asp-controller="Login">
                                <div style="display:flex">
                                    <div class="like" style="margin-right:30px">
                                        <i class="iconfont">&#xe761;</i>
                                        <div>喜欢</div>
                                    </div>
                                    <div class="dislike">
                                        <i class="iconfont">&#xeb7d;</i>
                                        <div>不喜欢</div>
                                    </div>
                                </div>
                                </a>
                            }
                            else
                            {
                            <div style="display:flex">
                                <div class="like" onclick="like()" style="margin-right:30px">
                                    <i class="iconfont">&#xe761;</i>
                                    <div>喜欢</div>
                                </div>
                                <div class="dislike" onclick="dislike()">
                                    <i class="iconfont">&#xeb7d;</i>
                                    <div>不喜欢</div>
                            </div>
                            </div>                          
                            }
                            <div class="header-number">@ViewBag.dyComments.Count 条评论</div>
                    </div>
                    <div class="box">
                        <div class="common-avatar">
                            <img src="~/fonts/my.png" style="height:25px;margin:12.5px">
                        </div>
                            @if (ViewData["UserName"] == null)
                            {
                                <div class="box-content">
                                    <div class="box-textarea-block">
                                        <textarea class="box-textarea" placeholder="您尚未登录，不能发表评论" readonly>
                                        </textarea>
                                        <a asp-controller="Login" asp-action="Index"><span class="box-loginBtn">登录</span></a>
                                    </div>
                                </div>
                            }else{
                                <div class="box-content">
                                    <div class="box-textarea-block">
                                        <textarea class="box-textarea" placeholder="发表你的看法" id="Comment"></textarea>
                                        <span class="box-loginBtn" onclick="PostComment()">发表</span>
                                    </div>
                                </div>
                            }

                    </div>
                </div>
                <div class="all_comments">
                    <div class="header">
                        <h3>全部评论</h3>
                    </div>
                    <div class="comments_list">
                        <ul>
                            @foreach (var item in ViewBag.dyComments)
                            {
                            <li>
                                <div class="single_comments">
                                    <div class="common-avatar">
                                        <img src="~/fonts/my.png" style="height:25px;margin:12.5px">
                                    </div>
                                    <div class="comments-detail">
                                        <div class="comments-detail-name">@item.User</div>
                                        <div class="comments-detail-content">
                                            <p>
                                                        @item.Comment
@*                                                一开始的目标是解决各种各样的ANR问题的，但是我们知道，ANR总体上分有四种类型，这四种ANR类型有三种是和四大组件相对应的，所以，如果想了解ANR发生的根因，对安卓四大组件的实现原理必须要懂。

                                                所以作者会写一系列的文章，来分析四大组建的实现原理，同时也会写相应的文章来讲解四种类型的ANR是如何发生的。

                                                本篇文章的配套文章，介绍BroadCast中的ANR是如何产生的如下：
                                                ————————————————
                                                版权声明：本文为CSDN博主「失落夏天」的原创文章，遵循CC 4.0 BY-SA版权协议，转载请附上原文出处链接及本声明。
                                                原文链接：https://blog.csdn.net/rzleilei/article/details/128550566*@
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="list_container">
            <div class="topicList">
                <div class="List">
                    <div class="Header">专题推荐</div>
                    <ul>
                            @for (int i = 0; i < ViewBag.TopicNews.Count; i++)
                            {
                                @if (i <= 5)
                                {
                                <li><a href="/NewsPage/?Column=@ViewBag.TopicNews[i].Column&Id=@ViewBag.TopicNews[i].Id">@ViewBag.TopicNews[i].Title</a></li>
                                }
                                
                            }
                    </ul>
                </div>
            </div>
            <div class="HeatList">
                <div class="List">
                    <div class="Header">热点榜</div>
                    <ul>
                            @for (int i = 0; i < ViewBag.HeatNews.Count; i++)
                            {
                                @if (i == 0)
                                {
                                <li><div class="rankIcon-num1">1</div><a href="/NewsPage/?Column=@ViewBag.HeatNews[i].Column&Id=@ViewBag.HeatNews[i].Id">@ViewBag.HeatNews[i].Title</a></li>
                                }
                                else if (i == 1)
                                {
                                <li><div class="rankIcon-num2">2</div><a href="/NewsPage/?Column=@ViewBag.HeatNews[i].Column&Id=@ViewBag.HeatNews[i].Id">@ViewBag.HeatNews[i].Title</a></li>
                                }
                                else if (i == 2)
                                {
                                <li><div class="rankIcon-num3">3</div><a href="/NewsPage/?Column=@ViewBag.HeatNews[i].Column&Id=@ViewBag.HeatNews[i].Id">@ViewBag.HeatNews[i].Title</a></li>
                                }
                                else if (i <= 10)
                                {
                                <li><div class="rankIcon">@i</div><a href="/NewsPage/?Column=@ViewBag.HeatNews[i].Column&Id=@ViewBag.HeatNews[i].Id">@ViewBag.HeatNews[i].Title</a></li>
                                }
                            }
                    </ul>
                </div>
            </div>
        </div>
      </div>


         <div class="right">
             <div class="fixed-bar">
                 <a class="item comments" href="#"><i class="iconfont">&#xe891</i><span>评论</span></a>
                 <a class="item refresh" onclick="javascript:location.reload();"><i class="iconfont">&#xe641</i><span>刷新</span></a>
                @if (ViewData["UserName"] != null)
                {
                <a class="item" onclick="feedback()"><span class="txt" style="display:block;margin-top:10px">用户<br>反馈</span></a>
                }
                 <a class="item" href="#"><i class="iconfont" style="display:block;padding-top:15px">&#xe62c</i></a>
             </div>
         </div>
         <script>
        function like(){
            $('.like').css("color", "red");
            var NewId = '@ViewData["NewId"]';
            var UserId = '@ViewData["UserId"]';
            $.ajax({
                url:"/NewsPage/Like",
                type:"POST",
                data: { NewId: NewId, UserId: UserId },
                success: function(data){
                    console.log(data)
                }
            })
            alert("推荐成功")
        }
        function dislike() {
            $('.dislike').css("color", "blue");
            var NewId = '@ViewData["NewId"]';
            var UserId = '@ViewData["UserId"]';
            $.ajax({
                url:"/NewsPage/DisLike",
                type:"POST",
                data: { NewId: NewId, UserId: UserId },
                success: function(data){
                    console.log(data)
                }
            })
            alert("取消推荐")
        }
        function PostComment() {
            var Comment = document.getElementById("Comment").value;
            var NewId = '@ViewData["NewId"]';
            var UserId = '@ViewData["UserId"]';
            if(Comment == ""){
                alert("评论为空！")
            }else{
               $.ajax({
                    url: "/NewsPage/PushComments",
                type:"POST",
                data:{NewId:NewId, UserId:UserId, Comment:Comment},
                sucess: function(data){
                        console.log(data.d);
                }
            })
                alert("评论成功");
                location.reload();
            }
        }
         </script>
    </body>
</html>