@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE HTML>
<html lang="en">
    <head>
        <script src="/lib//jquery/dist/jquery.min.js"></script>
        <script src="/js/Home-index.js"></script>
        <link rel="stylesheet" href="~/css/Home-index.css" asp-append-version="true" />
        @*刷新*@
        <link rel="stylesheet" href="~/fonts/font_pc91p14nhe/iconfont.css" />
        @*向上*@
        <link rel="stylesheet" href="~/fonts/font_lgwa9q5jwc/iconfont.css" />
        <link rel="stylesheet" href="~/fonts/font_hoe6is2bej7/iconfont.css" />
        <link rel="stylesheet" href="~/fonts/font_t495264e78/iconfont.css" />
        <link rel="stylesheet" href="~/fonts/font_o0i0id7rif/iconfont.css" />
    </head>
    <body>
@*    <div class="text-center">
        <h1 class="display-4">Welcom</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>

    <form class="bs-example bs-example-form" role="form">
        <div class="col-lg-8">
            <div class="input-group">
                <input type="text" class="form-control">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </span>
            </div><!-- /input-group -->
        </div><!-- /.col-lg-6 -->
    </form>*@

    <div>
        <nav class="row mt-4">
            <div class="nav nav-tabs">
                <a class="nav-item nav-link active" data-toggle="tab" href="#home">今日要闻</a>
                <a class="nav-item nav-link disabled" data-toggle="tab" style="margin-left:auto" id="time"> </a>
            </div>
        </nav>

        @*导航下的整一个div*@
        <div class="content">
            <div class="left">
                <div class="CachartAndHeatList">
                    <div style="width:70%;height:400px;border-bottom-style:solid;border-color:rgb(239,239,239);display:flex">
                        <div class="Cachart_container">
                            <ul>
                                @for (int i = 0; i < ViewBag.PicNews.Count; i++)
                                {
                                    @if (i<5)
                                    {
                                        <li>
                                            <a href="/NewsPage/?Column=@ViewBag.PicNews[i].NewColumn&Id=@ViewBag.PicNews[i].NewId">
                                                <div class="NewTitle" style="display:none">@ViewBag.PicNews[i].NewTitle</div>
                                                <img style="width:45vw;height:335px" src="~/@ViewBag.PicNews[i].NewPicture" alt="">
                                            </a>   
                                        </li>                                    
                                    }
                                }
                            </ul>
                            <div class="ol_list">
                                <ol>
                                    <li class="current"></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                </ol>
                            </div>
                        </div>
                        <div class="Cachart_container_after">
                            @for (int i = 0; i < ViewBag.PicNews.Count; i++)
                            {
                                @if (i > 5 && i < 8)
                                {
                                    <div class="after_img">
                                        <a href="/NewsPage/?Column=@ViewBag.PicNews[i].NewColumn&Id=@ViewBag.PicNews[i].NewId">
                                            <div class="NewTitle" style="position:absolute;overflow-wrap: normal;width:212px;background: rgba(255,255,255,0.5);">
                                                @ViewBag.PicNews[i].NewTitle
                                            </div>
                                            <img src="~/@ViewBag.PicNews[i].NewPicture" alt="">
                                        </a>
                                    </div>
                                }
                            }
                        </div>
                        
                    </div>

                    <div class="HeatList">
                        <div class="List">
                            <div class="Header">热点榜</div>
                                <ul>
                                @for (int i = 0; i < ViewBag.HeatNews.Count;i++)
                                {
                                    @if (i == 0)
                                    {
                                        <li><div class="rankIcon-num1">1</div><a href="/NewsPage/?Column=@ViewBag.HeatNews[i].Column&Id=@ViewBag.HeatNews[i].Id">@ViewBag.HeatNews[i].Title</a></li>
                                    } else if(i == 1){
                                        <li><div class="rankIcon-num2">2</div><a href="/NewsPage/?Column=@ViewBag.HeatNews[i].Column&Id=@ViewBag.HeatNews[i].Id">@ViewBag.HeatNews[i].Title</a></li>
                                    } else if(i == 2)
                                    {
                                        <li><div class="rankIcon-num3">3</div><a href="/NewsPage/?Column=@ViewBag.HeatNews[i].Column&Id=@ViewBag.HeatNews[i].Id">@ViewBag.HeatNews[i].Title</a></li>
                                    }else if(i <= 10)
                                    {
                                        <li><div class="rankIcon">@i</div><a href="/NewsPage/?Column=@ViewBag.HeatNews[i].Column&Id=@ViewBag.HeatNews[i].Id">@ViewBag.HeatNews[i].Title</a></li>
                                    }
                                }                    
                                </ul>
                        </div>
                    </div>
                </div>

                <div class="NewsList">
                    <div class="Header">
                        <div style="font-family:STKaiti;font-size:2vw;margin-top:-25px">新闻推荐</div>
                    </div>
                    <div class="List">
                        <ul>
                            @if (ViewBag.RecommNews != null)
                            {
                                @for (int i = 0; i < ViewBag.RecommNews.Count; i++)
                                {
                                    @if (i <= 3)
                                    {
                                        <a class="RecList" 
                                            href="/NewsPage/?Column=@ViewBag.RecommNews[i].NewColumn&Id=@ViewBag.RecommNews[i].NewId"
                                            style="display:true"
                                        >                                          
                                            <li>
                                                <div class="NewsImg">
                                                    <img src="~/@ViewBag.RecommNews[i].NewPicture">
                                                </div>
                                                <div class="News">
                                                    <div class="Title">@ViewBag.RecommNews[i].NewTitle</div>
                                                    <div class="Description">@ViewBag.RecommNews[i].NewContent</div>
                                                    <div class="Bottom">
                                                        <div class="PulishTime">@ViewBag.RecommNews[i].NewDate</div>
                                                        <div class="Share">
                                                            <i class="iconfont">&#xe624</i>
                                                            <span>分享</span>
                                                        </div>
                                                        <div class="Views">
                                                            <i class="iconfont">&#xe627</i>
                                                            <span>@ViewBag.RecommNews[i].NewHeat</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </a>
                                    } else if (i > 3)
                                    {
                                        <a class="RecList"
                                            href="/NewsPage/?Column=@ViewBag.RecommNews[i].NewColumn&Id=@ViewBag.RecommNews[i].NewId"
                                            style="display:none">
                                            <li>
                                                <div class="NewsImg">
                                                    <img src="~/@ViewBag.RecommNews[i].NewPicture">
                                                </div>
                                                <div class="News">
                                                    <div class="Title">@ViewBag.RecommNews[i].NewTitle</div>
                                                    <div class="Description">@ViewBag.RecommNews[i].NewContent</div>
                                                    <div class="Bottom">
                                                        <div class="PulishTime">@ViewBag.RecommNews[i].NewDate</div>
                                                        <div class="Share">
                                                            <i class="iconfont">&#xe624</i>
                                                            <span>分享</span>
                                                        </div>
                                                        <div class="Views">
                                                            <i class="iconfont">&#xe627</i>
                                                            <span>@ViewBag.RecommNews[i].NewHeat</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </a>
                                    }

                                }
                            }
                        </ul>
                        <div class="Showmore" onclick="Showmore()"><i class="iconfont">&#xe727;</i>加载更多</div>
                        <div class="Nomore" style="text-align:center;font:normal 20px/30px Microsoft Yahei;padding-top:30px;display:none">暂无更多</div>
                    </div>
                </div>
            </div>
            <div class="right">
                <div class="fixed-bar">
                    <a class="item refresh" onclick="javascript:location.reload();"><i class="iconfont">&#xe641</i><span>刷新</span></a>
                    @if (ViewData["UserName"] != null)
                    {
                        <a class="item" onclick="feedback()"><span class="txt" style="display:block;margin-top:10px">用户<br>反馈</span></a>
                    }
                    <a class="item" href="#"><i class="iconfont" style="display:block;padding-top:15px">&#xe62c</i></a>
                </div>
            </div>
        </div>
    </div>


    </body>
</html>